<footer>
    <div style="border-top: 1px solid #e5e5e5; margin: 0 5%;"></div>
    <div class="f-info">
        <div class="f-info-left">
            <div>&copy; 2025 GlobeNest, Inc.</div>
            <div class="f-info-links">
                <a href="">Privacy</a>
                <a href="">Terms</a>
                <a href="">Sitemap</a>
                <a href="">Company details</a>
            </div>
        </div>
        <div class="f-info-right">
            <div class="f-lang">
                <button>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-globe"></i> English (IN)&nbsp;&nbsp;</button>
                <button>&nbsp;&nbsp;&#8377; INR&nbsp;&nbsp;&nbsp;</button>
            </div>
            <div class="f-info-socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>
</footer>